server:
  port: ${PORT:8088}
  error:
    include-message: always
    include-binding-errors: always


spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/portfolio
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.portfolio.backend.vo
  configuration:
    map-underscore-to-camel-case: true

